:root{
    --main-color: #707070a2;
    --btn-color: #EF295E;
    --border-color: #CECECE;
}


body{
    font-family: sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    height: 100vh;
    background-image: url(front-page.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.main-text{
    color: white;
    max-width: 350px;
    padding-left: 40px;;
    padding-bottom: 40px;
}

.main-text h1{
    font-size: 70px;
    margin-bottom: 50px;
}

.main-text a{
    color: var(--btn-color);
}

.box-logging{
    width: 350px;
    height: 100%;
    position: fixed;
    top:0;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding:20px;
    border-radius: 5px 0 0 5px;

}

.box-logging::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    background-color: var(--main-color);
    z-index: -1;
}



.box-logging form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 300px;
}

.box-logging .info input{
    margin-bottom: 20px;
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.box-logging form .info label{
    color: white;
    margin-bottom: 10px;
    display: block;
}

.box-logging input[type="submit"] {
    background-color: var(--btn-color);
    padding: 10px;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.signup-mail input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;

}

.signup-mail {
    color: white;
    display: flex;
    align-items: center;
    
}

.box-logging h1{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.box-logging h3{
    color: white;
    margin-bottom: 30px;
}

.log-in span{
    color: white;
}

.log-in a {
    color: white;
    font-weight: bold;
    margin-left: 5px;

}